<template>
  <div>
    <b-modal id="winner-alert"
             body-bg-variant="success"
             body-text-variant="white"
             no-close-on-backdrop
             hide-footer
             hide-header>
      <p class="text-strong text-center">You solved the puzzle!!!</p>
      <p class="text-center">Your score: {{score}}</p>
    </b-modal>
    <div class="circle-background">
      <img class="img-back img-back-1" src="@/assets/zoovu-o-white.svg" alt="zoovu o" width="420px">
      <img class="img-back img-back-2" src="@/assets/zoovu-o-white.svg" alt="zoovu o" width="420px">
      <img class="img-back img-back-3" src="@/assets/zoovu-v-white.svg" alt="zoovu o" width="200px">
      <div style="z-index: 20; position: relative; min-height: 100vh">
        <div class="container py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <p class="text-super-strong text-20 mb-0">Good luck, {{user}}!</p>
            <p class="text-20 mb-0 text-purple text-strong"><img class="pb-1" src="@/assets/clock.svg" alt="clock icon" width="20px"> Your score: {{score}} seconds</p>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-5">
            <p class="text-secondary text-15 mb-0">Pick up the right cards</p>
            <p class="text-secondary text-15 mb-0">The faster, the better!</p>
          </div>
          <draggable-zone @initTime="startTime" @userWon="userWon" @incorrectCard="incrementTime(10)" />
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { VueDraggableDirective } from 'vue-draggable'
import DraggableZone from "@/components/DraggableZone";
import {EventBus} from "@/EventBus";
import { mapState } from "vuex";
import {store} from "@/store";

export default {
  name: 'game',
  components: {DraggableZone},
  directives: {
    dragAndDrop: VueDraggableDirective
  },
  data(){
    return {
      score: 0,
      interval: null,
    }
  },
  methods:{
    incrementTime(seconds = 1) {
      this.score = parseInt(this.score) + seconds;
    },
    startTime() {
      this.interval = setInterval(this.incrementTime, 1000);
    },
    stopTime(){
      clearInterval(this.interval);
    },
    userWon(){
      this.stopTime();
      this.$bvModal.show('winner-alert');
      let vm = this;
      setTimeout(function (){
        vm.$bvModal.hide('winner-alert');
        vm.restoreGame()
        EventBus.$emit('restoreGame')
      },10000)
    },
    restoreGame(){
      this.score = 0;
    }
  },
  beforeRouteEnter(to, from, next){
    if(store.state.user){
      next()
    }else{
      next({name: 'home'})
    }
  },
  computed:{
    ...mapState(['user'])
  }

}
</script>

<style lang="scss" scoped>
.custom-card{
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0,0,0,.1);
  transition: all .3s;
  cursor: grab;
  &:hover{
    box-shadow: 10px 10px 30px rgba(0,0,0,.1);
    transform: scale(1.02);
  }
}
</style>
