<template>
  <div class="circle-background">
    <img class="img-back img-back-1" src="@/assets/zoovu-o-white.svg" alt="zoovu o" width="420px">
    <img class="img-back img-back-2" src="@/assets/zoovu-o-white.svg" alt="zoovu o" width="420px">
    <img class="img-back img-back-3" src="@/assets/zoovu-v-white.svg" alt="zoovu o" width="200px">
    <div class="d-flex flex-column align-items-center justify-content-center full-height" style="z-index: 20; position: relative">
      <h1 class="mb-5 text-20 text-super-strong">Hello friend, tell me your name...</h1>
        <div class="form-group mb-5">
          <input v-model="username" class="form-control custom-input" type="text" placeholder="Your name here">
        </div>
        <div class="row justify-content-center">
          <button @click="goToGame" class="btn btn-light btn-rounded custom-button">Let's go &rarr;</button>
        </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: 'home',
  components: {

  },
  data(){
    return {
      username: ""
    }
  },
  methods:{
    goToGame(){
      this.changeUser(this.username)
      this.$router.push({name: 'game'})
    },
    ...mapMutations(['changeUser'])
  }
}
</script>

<style lang="scss" scoped>
.custom-input {
  text-align: center;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #C8C8C8;
  padding-bottom: 20px;
  width: 500px;
  max-width: 100vw;
  font-style: italic;
  background: none;
  transition: all .1s;
  &:focus{
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #3B0078;
  }
}
.custom-button{
  color: #3B0078;
  font-weight: 700;
  border-radius: 200px;
  border: 1px solid #C8C8C8;
  box-shadow: 10px 10px 30px rgba(0,0,0,.1);
  padding: 10px 20px;
}

</style>
