<template>
  <div id="app">
    <transition name="slide-fade" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>


<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
//GENERAL
body{
  font-family: Poppins,sans-serif;
  letter-spacing: 1px;
}
p {
  font-family: Poppins,sans-serif;
  font-weight: 400;
}
.row{
  margin-right: 0;
  margin-left: 0;
}
//UTILS
.full-height{
  height: 100vh;
}
.text-15 {
  font-size: 15px;
}
.text-20 {
  font-size: 20px;
}
.text-strong{
  font-weight: 700;
}
.text-super-strong{
  font-weight: 900;
}
.text-purple{
  color: #3B0078;
}
body .text-secondary{
  color: #A7ABBC !important;
}
//TRANSITIONS
.slide-fade-enter-active {
  transition: all 1s ease;
}

.slide-fade-enter, .slide-fade-leave-to
{
  transform: scale(0.5);
  opacity: 0;
}


//COMPONENTS
.circle-background {
  background-image: linear-gradient(to bottom, white, #F2F3F7);
  position: relative;
  overflow: hidden;
}
.img-back{
  position: absolute;
  z-index: 1;
}
.img-back-1{
  bottom: -260px;
  left: 60px;
  animation: move 8s infinite alternate linear;
}

.img-back-2{
  bottom: 100px;
  left: 460px;
  animation: move 8s infinite alternate linear 1s;
}

.img-back-3{
  top: 120px;
  right: 100px;
  transform: rotate(-30deg);
  animation: move 8s infinite alternate-reverse linear;
}

@keyframes move {
  from{
    transform: translateY(-200px);
  }
  to {
    transform: translateY(200px);
  }
}

</style>
